.wrapper {
  padding: 0px 10px;
  width: 100%;
}

.title {
  margin: 20px 0px;
}

.link {
  color: red;
}

.grid {
  display: flex;
  gap: 16px;
}

.productsList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.products {
  display: flex;
  flex-direction: column;
}
.products > img {
  width: 300px;
  height: 300px;
}
